* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#__next {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.content {
  display: flex;
}

.paginationContainer {
  flex: 1 0 auto;
}