.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: rgba(0,0,0, .25);
  text-align: center;
  font-size: 24px;
  line-height: 130%;
  font-weight: 700;
  color: white;
  z-index: 3;
}
