.form {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}

.label {
  max-width: 33%;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
}

.span {
  display: none;
}