.detail {
  position: relative;
  padding: 0 15px;
  flex: 1 1 auto;
  max-width: 50%;
  width: 100%;
}

.cross {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: none;
  color: transparent;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    width: 100%;
    height: 1px;
    background-color: black;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%) rotate(45deg);
    width: 1px;
    height: 100%;
    background-color: black;
  }
}

.noProduct {
  text-align: center;
}