* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}